body {
  min-width: 360px; }

.soar-bg-yellow {
  background-color: #eed926; }

.soar-bg-dark {
  background-color: #081b2c; }

.soar-bg-dark .navbar-text {
  color: #eed926; }

.leaflet-container {
  height: 100%;
  width: 100%; }
