.progress {
    width: 100%;
    border-radius: 0 !important;
    height: 1.5rem !important;
    font-size: 1rem !important;
}

.progress .progress-bar {
    width: 100%;
    color: black;
    background-color: #eed926; 
}

.progress .progress-bar.active {
    font-weight: 700;
    animation: progress-bar-stripes .5s linear infinite;
    z-index: 1000;
}