.map-container {
    position: absolute;
    top: 55px;
    bottom: 30px;
    width: 100%;

}
.leaflet-container {
    height: 100%;
    width: 100%;
}

.overview-popup img{
    width: 300px;
}

.overview-popup{
    width: 300px;
}